
h1 {
        color: rgb(132, 31, 53);
        font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
        font-size: 5.5em;
        font-weight: bold;
        text-align: center;
}

h2 {
        color: rgb(19, 18, 18);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.75.0em;
        font-weight: bold;
        text-align: left;
}

h3 {
        color: rgb(19, 18, 18);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        font-weight: normal;
        text-align: left;
}

h4 {
        color: rgb(132, 31, 53);
        font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
        font-size: 1.5em;
        font-weight: normal;
        text-align: left;
}
body {
        background-color: rgb(252, 247, 237);

}
